.content-container {
	display: flex;
	margin: ;
}

.content-container h1 {
	flex-grow: 1;
}

.paragraph-container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
}

.paragraph-container p {
	padding-left: 30px;
	font-size: 20px;
	text-align: left;
}

.img {
	padding-left: 50px;
	max-width:100%;
	height: 500px;
}