.content-container {
	display:grid;
	grid-gap: 7vw;
	grid-template-columns: 30vw 40vw;
	grid-template-rows: .3vh;
}

.paragraph-container {
	display: grid;
	align-items: left;
	text-align: left;
	
	/* direction: column; */
}

.img {
	min-width: 90px;
	height: 490px;
}