

body {
  margin: 0;
	font-family: 'Barlow';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  margin: 0;
}

@font-face {
	font-family: 'Barlow';
	src: local('Barlow'), url(./font/Barlow-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Kosugi Maru';
	src: local('Kosugi Maru'), url(./font/KosugiMaru-Regular.ttf) format('truetype');
}

.divider {
  width: 60%;
  height: .01px;
  background-color: black;
}

.endingImage2 {
	position: relative;
}

.titleText {
	display: inline-block;
	text-align: center;
	margin-right: 30px;
	vertical-align: middle;
}

.titleBar {
/*  width: 100%;
  margin: 0px;
  padding: 0px;*/
}

.titleBar h1 {
	margin-top: 10px;
	text-align: left;
}

.titleBarText {
  position: absolute;
  top: 32px;
  left: 25px;
}

.titleBarText h1 {
	font-size: 33px;
}

.titleBarAbout {
  display: inline-block;
  width: 15%;
  margin: 0px;
}

.titleBarAbout h1 {
	font-size: 20px;
}

.titleBarLogin {
  display: inline-block;
  width: 15%;
  margin: 0px;
}

.titleBarLogin h1 {
	font-size: 20px;
}

.title-container {
	position: relative;
	text-align: center;
}

.title-centered {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.title-centered h1 {
	font-size: 60px;
	font-style: bold;
}

.menu-container {
	position: absolute;
  	top: 8px;
  	right: 16px;
  	display: flex;
  	align-items: baseline;
  	padding: 10px;
}

.menu-container h1 {
	font-size: 24px;
	margin: 10px;
}

.carouselImage {
	height: 100vh;
	min-height: 500px;
  	width: 100%;
  	background: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.titleImage {
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 10px;
}

.titleImage2 {
	width:768px;
	height: 216px;
	margin-bottom:20px;
}

/* .movieImage {
	width: 450px;
	height: 650px;
	display: block;
	margin: 0 auto;
	padding-top: 5px;

	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
} */

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  position: relative;
}

.container:hover .movieImage {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.movieGrid {
	margin-left: 50px;
	margin-right: 50px;
}

.starImage {
	width: 40px;
	height: 40px;
	display: center;
	margin: 0;
	margin-top: 15px;
}

.movieText {
	width: 300px;
	display: block;
	color: black;
}
.movTitle {
	font-weight: bold;
	font-size: 24px;
	display: center;
}

#moviePageImg {

}

#movieTitle {
	font-weight: bold;
	font-size: 24px;
}

#movieDirector {
	font-size: 16px;
	font-weight:bold;
}

#movieGenre {
	text-transform:uppercase;
	color: #797979;
	font-weight:bold;
	background-color: #eeeeee;
	width:90px;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 10px;
	border-radius:5px;
	font-size: 14px;
}

.movieList {
	display: inline-block;
	width: 300px;
	margin: 10px 10px;
	background-color: white;
	padding-top: 20px;
}

.movieIntro {
	/* margin-left: 8vw; */
	font-weight: bold;
}

.dropdownMenu1 {
	display: inline;
	margin: 5px;
}

.dropdownMenu2 {
	display: inline;
	margin: 5px;
}

.dropdownMenu2:after {
	content: '\A';
	white-space: pre;
}

button {
	display: inline;
	margin: 5px;
	background-color: #3C61FD;
	border: none;
	margin-top: 1px;
	padding: 8px;
	border-radius: 5px;
	color: white;
}

#favorites {
	background-color: #2ECD62;
}

#reset {
	background-color: #DE3636;
}

#TotoroLabel {
	font-size: 14px;
	text-transform: uppercase;
	color: #969696;
	font-weight:bold;
}

#TotoroButton {
	margin-bottom: 50px;
	margin-top: 5px;
}

.endingImage2 {
	width: 300px;
	margin-top:30px
}

button:after {
	content: '\A';
	white-space: pre;
}

.movie-description {
	/* margin-right: 70px; */
	/* margin-top: 58px; */
	text-align: left;
	font-size: 24px;
}

.moviePage {
	display: inline;
	/* grid-gap: 0;
	/* grid-template-columns: 10vw 10vw; */
	/* margin-left: 10vw;  */
}
.movieDetails {
	display: grid;
	grid-template-columns: 28vw 30vw;
	grid-gap:0;
	margin-left: 17vw;
	margin-top: 25px;
}
.movieImage {
	width: 250px;
	height: 350px;
	display: block;
	margin: 0 auto;
	padding-top: 5px;

	opacity: 1;
	transition: .5s ease;
	backface-visibility: hidden;
}

.socialMedia {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
